html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
html,
body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.container {
  min-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

body {
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

.header__inner {
  padding-top: 20px;
  display: flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: center;
  padding-bottom: 20px;
}

.menu__list {
  display: flex;
  gap: 36px;
  align-items: center;
}

.menu__list-item_btn {
  background: #575445;
  border-radius: 6px;
  font-size: 16px;
  color: #fff;
  display: flex;
  padding: 6px 18px;
}

.menu__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.menu__count {
  background: #ffffff;
  border-radius: 100%;
  color: #575445;
  font-size: 11px;
  padding: 2px 6px;
}

.intro {
  background: url(../images/back.jpg) center no-repeat;
  background-size: cover;
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
}

.intro__inner {
  flex-direction: column;
  display: flex;
  gap: 20px;
  max-width: 500px;
  padding-left: 10px;
}

.intro__subtitle {
  text-transform: uppercase;
  color: #e6b939;
}

.intro__title {
  font-family: "Roboto";
  font-size: 48px;
  color: #fff;
}

.intro__text {
  font-size: 17px;
  color: #caccd1;
}

.about-us {
  display: flex;
  gap: 30px;
  padding: 100px;
}

.about-us__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.about-us__subtitle {
  text-transform: uppercase;
  color: #e6b939;
}

.about-us__title {
  font-size: 36px;
  color: #575445;
  font-family: "Roboto";
}

.about-us__text {
  font-size: 16px;
  color: #575445;
}

.about-us__more {
  font-size: 15px;
  color: #575445;
  display: flex;
  gap: 4px;
  align-items: center;
}

.our-promise__info {
  max-width: 540px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
  margin: 0 auto;
}

.our-promise__subtitle {
  text-transform: uppercase;
  color: #e6b939;
}

.our-promise__title {
  font-family: "Roboto";
  font-size: 36px;
  color: #575445;
}

.our-promise__text {
  text-align: center;
  font-size: 16px;
  color: #575445;
}

.our-promise__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 100px;
  row-gap: 110px;
  padding-top: 70px;
  padding-bottom: 160px;
}

.promise-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.promise-card__title {
  font-family: "Roboto";
  font-size: 20px;
  color: #575445;
}

.promise-card__text {
  text-align: center;
  color: #575445;
}

.footer {
  display: flex;
  background-color: #575445;
}
.footer__inner {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer__logo {
  margin: 0 auto;
  padding-bottom: 75px;
}

.footer__main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 30px;
}

.footer__title {
  color: #e6b939;
  text-transform: uppercase;
}

.footer__text {
  margin-top: 9px;
}

.footer__item {
  max-width: 460px;
  font-size: 14px;
  color: #fff;
}

.footer__iput {
  margin-top: 9px;
  padding: 17px 0px 16px 21px;
  height: 53px;
  width: 458px;
  background: #f9fafb;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
}
.footer__iput-btn {
  background: #575445;
  border-radius: 10px;
  height: 39px;
}

.footer__links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.links__text {
  color: #fff;
}

.icons {
  display: flex;
  justify-content: flex-end;
  color: #fff;
  font-size: 25px;
}

.icon {
  margin-left: 20px;
}

.email-input {
  background: #f9fafb;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
}

.email-input__input {
  width: 100%;
  border: none;
  outline: none;
  background: none;
}

.email-input__submit {
  color: #ffffff;
  background: #575445;
  border-radius: 10px;
  padding: 6px 12px;
}
